
// Set the source define that will be expanded as an attribute
set source = "ITEM_INTERACTION"
// Define parameter 1
set action_name = define.params[1]
// Set the order that this generator runs
set run_order = 5

// Make sure that we have the interaction flag set
extend src
	// Comment test 1
	// Comment test 2
	// Comment test 3
	flags_1 |= screen_tip_1

// Register the screentip
extend src Initialize()
	// Specify that we do this after the parent call
	// If you want to add the proc before the parent call, then move this line
	// after the one below
	..()
	// Don't repeat it if we added it already
	add once register_context()

// Add the screentip
// Functions will be added if they don't already exist.
// Parameters are fluff and are in this file only
extend src add_context_self(datum/screentip_context/context, mob/user, obj/item/item)
	..()
	// Place this at the end of the rest of the proc
	// Get the path of the 1st parameter to the proc that we are extending
	context.add_left_click_item_action(action_name, ##PATHOF(proc.params[1]))

// Add the item interaction
extend src attackby(obj/item/C, mob/user, params)
	// Check everything else first (in case we have special behaviours like shocking that stop this from going through)
	..()
	// Perform the interaction if the user is interacting with the correct item
	if (istype(C, ##PATHOF(proc.params[1])))
		// Call the proc that this attribute define is attached to
		return ##PROC_NAME()
