.primary_flight_display {
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 28);

  .horizontal_display {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .altimeter {
    flex-basis: 20%;
  }

  .speed {
    flex-basis: 20%;
  }

  .vertical_display {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .notifications {
    flex-basis: 15%;
  }

  .vertical_situation {
    flex-grow: 1;

    .flight_box {
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }
  }

  .heading {
    flex-basis: 25%;
  }
}
